<div class="blog-index aem-GridColumn aem-GridColumn--default--12">
<div id="blog-index-675f236211" class="cmp-blog-index">
  <div class="material-layout-container">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h2 class="cmp-resources__title">Blog Index Testing</h2>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-12-phone">
          <select class="cmp-blog-index__search-topic">
          <option value="">Topic</option>

          </select>
        </div>
        <div class="cmp-blog-index__search-spacer mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">

        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-12-phone">
          <input class="cmp-blog-index__search-text" placeholder="Search...">
          <input type="hidden" class="cmp-blog-index__search-field fuzzy-search">
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner list"><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">The Enterprise Copilot Handbook | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">Learn everything to know about enterprise copilots and how they can level up your digital workplace. Download the enterprise copilot handbook!</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/the-enterprise-copilot-handbook/access">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">The Enterprise Copilot Handbook | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">Learn everything to know about enterprise copilots and how they can level up your digital workplace. Download the enterprise copilot handbook!</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/the-enterprise-copilot-handbook">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Quantitative Guide: Measuring Employee Experience | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">Learn how to elevate your employee experience strategy and simplify measurement. Download the quantitative guide to measuring employee experience.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/the-quantitative-guide-to-measuring-employee-experience/access">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Quantitative Guide: Measuring Employee Experience | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">Learn how to elevate your employee experience strategy and simplify measurement. Download the quantitative guide to measuring employee experience.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/the-quantitative-guide-to-measuring-employee-experience">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">7 Must-Haves for Your Service Desk’s Virtual Agent | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">To help you evaluate which service desk virtual agent is right for your team, we created this guide that outlines the top 7 criteria to consider.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/7-must-haves-for-your-service-desk-virtual-agent/access">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">7 Must-Haves for Your Service Desk’s Virtual Agent | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">To help you evaluate which service desk virtual agent is right for your team, we created this guide that outlines the top 7 criteria to consider.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/7-must-haves-for-your-service-desk-virtual-agent">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">5 Fixtures of the New Digital Workplace | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">Learn how DocuSign, Stitch Fix, and Autodesk reshaped the new economy — with a digital workplace that’s even more efficient than the physical HQ.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/5-fixtures-of-the-new-digital-workplace/access">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">5 Fixtures of the New Digital Workplace | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">Learn how DocuSign, Stitch Fix, and Autodesk reshaped the new economy — with a digital workplace that’s even more efficient than the physical HQ.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/5-fixtures-of-the-new-digital-workplace">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">5 Chatbot Capabilities to Support Remote Workers | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">An AI chatbot can alleviate IT workloads and grant remote employees instant support. Ensure it has the capabilities to automate work-from-home IT support.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/5-chatbot-capabilities-to-support-remote-workers/access">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">5 Chatbot Capabilities to Support Remote Workers | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">An AI chatbot can alleviate IT workloads and grant remote employees instant support. Ensure it has the capabilities to automate work-from-home IT support.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/5-chatbot-capabilities-to-support-remote-workers">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">5 Best Practices For a Better Knowledge Base | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">Learn how to answer employees’ IT questions instantly — with 5 best practices to supercharge your knowledge base.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/5-best-practices-for-a-better-knowledge-base/access">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">5 Best Practices For a Better Knowledge Base | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">Learn how to answer employees’ IT questions instantly — with 5 best practices to supercharge your knowledge base.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/5-best-practices-for-a-better-knowledge-base">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">The Buyer's Guide to Conversational AI | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">Get ready to discover the potential of conversational AI and revolutionize the way
you do business. Download the conversational AI buyer's guide.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/buyers-guide-to-conversational-ai/access">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">The Buyer's Guide to Conversational AI | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">Get ready to discover the potential of conversational AI and revolutionize the way
you do business. Download the conversational AI buyer's guide.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/buyers-guide-to-conversational-ai">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Enterprise Architect’s Guide: Conversational AI | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">As an Enterprise Architect, incorporating conversational AI into the businesses tech stack is key to staying competitive. Get our conversational AI guide. </p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/enterprise-architects-guide-to-conversational-ai/access">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Enterprise Architect’s Guide: Conversational AI | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">As an Enterprise Architect, incorporating conversational AI into the businesses tech stack is key to staying competitive. Get our conversational AI guide.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/enterprise-architects-guide-to-conversational-ai">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">The IT Leader’s Guide to Conversational AI | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">Understanding large language models and generative AI is fast becoming crucial for IT leaders to stay ahead. Download our IT leaders guide.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/it-leaders-guide-to-enterprise-grade-conversational-ai/access">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">The IT Leader’s Guide to Conversational AI | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">Understanding large language models and generative AI is fast becoming crucial for IT leaders to stay ahead. Read our IT leader's guide and stay competitive.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/it-leaders-guide-to-enterprise-grade-conversational-ai">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">5 Help Desk Metrics and Benchmarks IT Leaders Should Know | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">To help you contextualize your help desk’s performance, we used data from over 100 companies to get the latest benchmarks for 2023 across 4 categories of use cases.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/help-desk-metrics">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Task automation: a guide to measuring impact | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">Organizations across industries are using task automation to solve repetitive work. Learn how to identify impact areas specific to your company.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/how-to-value-automation">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Chatbot vs. Conversational AI: Key Differences | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">Identify the key distinction between traditional chatbots and ones that use conversational AI, and find out which kind of bot will create the most impact for your organization. </p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/chatbot-vs-conversational-ai">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Support a hybrid work model with these 4 best practices | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">All industry-leading companies have incorporated these 4 hybrid work best practices into their ecosystem. Find out how to do the same.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/create-conversational-ai-strategy">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">The complete guide to knowledge-centered service | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">Industry-leading companies use knowledge centered services to support their employees. Here's your definitive guide to doing the same.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/complete-guide-knowledge-centered-service">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">The one thing you need to improve your help desk | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">We use data from 50 companies to show employees' preferred channels of support — and the one really effective lever to pull to reduce wait times.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/one-thing-improve-help-desk">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Why are organizations choosing service desk automation? | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">Organizations are turning to service desk automation to deliver seamless employee support. But true automation is distinct — and here's what it looks like.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/why-are-orgs-choosing-service-desk-automation">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Why are organizations choosing service desk automation? | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">Organizations are turning to service desk automation to deliver seamless employee support. But true automation is distinct — and here's what it looks like.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/why-are-organizations-choosing-service-desk-automation">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Support a hybrid work model with these 4 best practices | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">All industry-leading companies have incorporated these 4 hybrid work best practices into their ecosystem. Find out how to do the same. </p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/hybrid-work-best-practices">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">
              <div class="cmp-contentcard__image">
<div data-cmp-src="/content/moveworksprogram/us/en/resources/guides/how-to-write-knowledge-base-article/_jcr_content/_cq_featuredimage.coreimg{.width}.png/1697072917691/res-blg-request-to-resolution.png" data-asset-id="b8edc6fe-651c-45fb-8a17-9a3fe78bfb10" data-cmp-filereference="/content/dam/moveworksprogram/v2/resources/res-blg-request-to-resolution.png" id="image-05e6d76fb0" data-cmp-data-layer="{&quot;image-05e6d76fb0&quot;:{&quot;@type&quot;:&quot;core/wcm/components/image/v3/image&quot;,&quot;repo:modifyDate&quot;:&quot;2023-10-12T01:08:37Z&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;b8edc6fe-651c-45fb-8a17-9a3fe78bfb10&quot;,&quot;repo:modifyDate&quot;:&quot;2023-10-08T19:07:26Z&quot;,&quot;@type&quot;:&quot;image/png&quot;,&quot;repo:path&quot;:&quot;/content/dam/moveworksprogram/v2/resources/res-blg-request-to-resolution.png&quot;}}}" data-cmp-hook-image="imageV3" class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">

        <img src="http://localhost:4502/content/moveworksprogram/us/en/resources/guides/how-to-write-knowledge-base-article/_jcr_content/_cq_featuredimage.coreimg.png/1697072917691/res-blg-request-to-resolution.png" loading="lazy" class="cmp-image__image" itemprop="contentUrl" width="508" height="508" alt="">



</div>



</div>
              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">How to write an effective knowledge base article | Moveworks</p>
                  <p class="cmp-contentcard__wrapper--description">Here’s your checklist for writing an effective knowledge base article that can save an organization millions of dollars and hours of productivity.</p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/us/en/resources/guides/how-to-write-knowledge-base-article">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Hybrid work best practices</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/guides-footer-item/hybrid-work-best-practices-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Knowledge centered service</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/guides-footer-item/knowledge-centered-service-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Why service desk automation?</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/guides-footer-item/service-desk-automation-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Speed up your help desk</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/guides-footer-item/speed-up-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Writing knowledge base articles</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/guides-footer-item/writing-knowledge-articles-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Conversational AI strategy</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/guides-footer-item/conversational-ai-strategy-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Guides</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/guides-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Careers</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/company-footer-item/careers-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Newsroom</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/company-footer-item/newsroom-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Contact us</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/company-footer-item/contact-us-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">About us</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/company-footer-item/about-us-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Company</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/company-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">API Docs</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/resources-footer-item/api-docs">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Sitemap</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/resources-footer-item/sitemap-nav-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">System Status</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/resources-footer-item/system-status-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Help Center</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/resources-footer-item/api-docs-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Blog</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/resources-footer-item/blog-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Resource Center</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/resources-footer-item/resource-center-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Resources</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/resources-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Employee Communications</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/solutions-footer-item/employee-comms-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Finance</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/solutions-footer-item/finance-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Facilities</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/solutions-footer-item/facilities-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">HR</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/solutions-footer-item/hr-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">IT</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/solutions-footer-item/it-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Solutions</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/solutions-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Performance Dashboards</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/product-footer-item/performance-dashboards-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Integration Partners</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/product-footer-item/integration-partners-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Triage</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/product-footer-item/triage-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Intelligence Engine </p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/product-footer-item/intelligence-engine-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
           
           
            <div class="cmp-contentcard">
              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Multilingual Support</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>
                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/product-footer-item/multilingual-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>



          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Employee Experience Insights</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/product-footer-item/exi-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">What's New</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/product-footer-item/whats-new-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">How it Works</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/product-footer-item/how-it-works-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Product Overview</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/product-footer-item/product-overview-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div><div class="cmp-blog-index__card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 hidden">
            <div class="cmp-contentcard">

              <div class="cmp-contentcard__wrapper" data-topics="null">
                <div class="cmp-contentcard__wrapper--top">
                  <p class="cmp-contentcard__wrapper--tag">Platform</p>
                  <p class="cmp-contentcard__wrapper--description"></p>
                </div>

                <a class="cmp-contentcard__wrapper--cta-button cmp-button-tetriary--light--pink" href="/language-masters/footer-content/product-footer-item">
                  <span class="cmp-button__text">Read the blog</span>
                  <span class="cmp-button__icon"></span>
                </a>
              </div>
            </div>
          </div></div>
    </div>
  </div>
</div>



</div>